<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间的值可以任意，但是必须唯一；如果使用动态代理实现接口类，需要设置为和接口的全限定名一致 -->
<mapper namespace="cn.itcast.springmvc.mapper.UserMapper">


	<select id="queryUserById" resultType="User">
		select * from t_user where id = #{id}
	</select>

</mapper>